@import "//at.alicdn.com/t/c/font_4554057_a44dxcks1uj.css";

// place your custom styles here
.vp-hero-info-wrapper {
  height: calc(100vh - var(--navbar-height) - 54px); /* header --navbar-height, footer 54px */
}

/* .vp-feature-wrapper {
  background: linear-gradient(to left bottom, hsl(251, 100%, 85%) 0%, hsl(12, 100%, 85%) 100%);
} */
